body{
	color: #fff;
	background: skyblue;
	
}
a {
	text-decoration: none;
}

.main-header {
	padding:0;
	background: #a0efd4;
	text-align; center;
	list-style: none;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-family: Courier New;
	
}
.button {

	background: white;
	color: black;
	padding: 10px 135px;
	
}

.button:hover {
	background: #3399FF;
	color: white;
}

.showcase {
	transition:0.25s;
	margin-bottom: 20px;
	padding:250px;
	background-image: url(../images/news.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	box-shadow: 0 0 5px #9f8260;

}
.showcase:hover {
	background-image: url(../images/asd.jpeg);
	transition: 0.25s;
}

.main-article {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	margin-bottom: 0;
	font-family: Arial;
	background: lightblue;
	
}
#image {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#button {
	background-color: #fdb2b2;
	color: #000000;
	padding: 5px 5px;
	font-family: ravie;
	font-size: 20px;
	margin: 50px;
	box-shadow: 0 0 1000px Lime;
}

#button:hover {
	background: #90dcea;
}
.tri {
	font-family: Felix Titling;
	text-align: center;
}
.Lebron {
	font-family: Felix Titling;
	text-align: center;
}
.article-left {
	margin: 0;
	padding: 0;
	border: 2px grey solid;
	background: white;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}
.inside-left-first {
	padding: 0;
	background: white;

}
.inside-left-first:hover {
	background-image: url(../images/galaxy.jpg);
}
.inside-left-second {
	padding: 0;
	background: white;
	color: black;
	
}
.article-right {
	padding: 0;
	border: 2px grey solid;
	background: white;
	display: grid;
	grid-gap: 0;
	grid-template-columns: 1fr 1fr;
}
.inside-right-first {
	padding: 0;
	background: white;

}
.inside-right-first:hover {
	background-image: url(../images/galaxy.jpg);
}
.inside-right-second {
	padding: 0;
	background: white;
	color: black;

}

.second-article {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	margin-bottom: 0;
	font-family: Arial;
	background: lightblue;
}
.wit {
	font-family: Felix Titling;
	text-align: center;
}
.badjao {
	font-family: Felix Titling;
	text-align: center;
}
.second-article-left {
	margin: 0;
	padding: 0;
	border: 2px grey solid;
	background: white;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}
.inside-second-article-left-first {
	padding: 0;
	background: white;
}
.inside-second-article-left-first:hover {
	background-image: url(../images/galaxy.jpg);
}
.inside-second-article-left-second {
	padding: 0;
	background: white;
	color: black;
}
.second-article-right{
	padding: 0;
	border: 2px grey solid;
	background: white;
	display: grid;
	grid-gap: 0;
	grid-template-columns: 1fr 1fr;
}
.inside-second-article-right-first{
	padding: 0;
	background: white;
}
.inside-second-article-right-first:hover {
	background-image: url(../images/galaxy.jpg);
}

.inside-second-article-right-second {
	padding: 0;
	background: white;
	color: black;
}

.footer {
	text-align: center;
	background: lightblue;
	border: 2px grey solid;
	font-family: Courier New;
	box-shadow: 0 0 10px #e2abab;
	margin-top: 10px;
	font-size: 15px;
}
.footer:hover {
	background: #90dcea;
}

